# Compiled Python files
**/__pycache__/
*.pyc
*.pyo

# Logs and project structure
logs.txt
build.log
project_structure.txt

# Temporary files and directories
*.log
*.tmp
*.temp

# Certificates
certs/

# Development container configurations
backend/.devcontainer/
backend/.vscode/

# Temporary files used in ETL
*/data/
*/.logs_queue/
*/.nux/
*/.telemetry/
*/history/
*/logs/
*/storage/

# Temporary folders of my-dagster-project
my-dagster-project/